<a href="https://colab.research.google.com/github/ChristanSanchez/DSA-CpE-010-CpE21S4/blob/main/Exercise_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import array

array.typecodes

a = array.array('i', [1,2,3,4,5,6])#initializaing array a

b = array.array('f', [1.5,2.5,3.5,4.5,5.5,6.5])#initializaing array b # Changed typecode to 'f' for floats

a.typecode#getting the typecode of a

b.typecode#getting the typecode of a

'f'

In [11]:
from array import array # importing array from module
a = array ('i', [4,5,6,7]) #initializing array
a.insert(1,2) # inserting element: 2 at index: 1
a #printing array a
array('i',[4,2,5,6,7])
a.insert(-1,0) #insert element: 0 at index: -1
a
a.insert(10,-1) #insert element: -1 at index: 10, this is out range
a
array('i', [4,2,5,6,0,7,-1])

array('i', [4, 2, 5, 6, 0, 7, -1])

In [16]:
class Node:
  def __init__(self, data):
    self.data = data
    self.next = None

class LinkedList:
  def __init__(self):
    self.head = None

  def printData(self): # Define printData as a method within the LinkedList class
    temp = self.head
    while(temp):
      print(temp.data)
      temp = temp.next # Correct the typographical error

if __name__ == '__main__':
  llist = LinkedList()
  llist.head = Node(1)
  second = Node(2)
  third = Node(3)

  llist.head.next = second
  second.next = third

  llist.printData() # Call the printData method on the llist object

1
2
3